<?xml version="1.0" encoding="utf-8"?>
<cipherazzi>
  <viewer theme="System" live="true" pollMilliseconds="250" pageSize="250"
          analyticsMinutes="1440" analyticsRefreshSeconds="5" topGroups="20" baselineMinimumSamples="5">
    <columns>
      <column name="Peer" visible="true" width="170" />
      <column name="Findings" visible="true" width="160" />
      <column name="Confirmation" visible="true" width="145" />
      <column name="Tls" visible="true" width="85" />
      <column name="Process" visible="true" width="130" />
      <column name="GroupClass" visible="true" width="130" />
      <column name="Time" visible="true" width="100" />
      <column name="Transport" visible="false" width="75" />
      <column name="Sni" visible="false" width="190" />
      <column name="Destination" visible="false" width="155" />
      <column name="Cipher" visible="false" width="245" />
      <column name="Group" visible="false" width="145" />
      <column name="GroupStatus" visible="false" width="165" />
      <column name="GroupComponents" visible="false" width="230" />
      <column name="GroupReference" visible="false" width="250" />
      <column name="ClassificationRules" visible="false" width="195" />
      <column name="NegotiationStages" visible="false" width="165" />
      <column name="NegotiationDropped" visible="false" width="180" />
      <column name="NegotiationTruncated" visible="false" width="175" />
      <column name="Computer" visible="false" width="150" />
      <column name="ClientOwner" visible="false" width="180" />
      <column name="ServerOwner" visible="false" width="180" />
      <column name="State" visible="false" width="175" />
    </columns>
    <investigationColumns>
      <grid name="ReadinessGrid">
        <column name="Computer" visible="false" width="125" />
        <column name="Application" visible="true" width="170" />
        <column name="Peer" visible="true" width="170" />
        <column name="Transport" visible="false" width="80" />
        <column name="Total" visible="true" width="100" />
        <column name="PqKey" visible="true" width="90" />
        <column name="PqAuth" visible="true" width="90" />
        <column name="Complete" visible="true" width="105" />
        <column name="UnknownKey" visible="true" width="130" />
        <column name="UnknownAuth" visible="true" width="135" />
        <column name="Classical" visible="false" width="130" />
        <column name="ChainPq" visible="false" width="180" />
      </grid>
    </investigationColumns>
  </viewer>
  <findings minimumTls="771" minimumDhBits="2048" warnMissingEms="true" />
  <policies>
    <policy name="PQC migration" enabled="true" computer="*" process="*" serverName="*"
      processRole="Either" minimumTls="771" requirePostQuantumKeyExchange="true"
      requireStandardizedPqGroup="true" allowedGroups="" requireEndpointCompletion="true"
      requirePostQuantumServerAuthentication="false" requirePostQuantumClientAuthentication="false"
      allowedServerSignatures="" allowedClientSignatures="" certificateRole="Server"
      requireCertificateEvidence="false" requirePostQuantumCertificateSignatures="false"
      allowedCertificateKeys="" allowedCertificateSignatures="" requirePeerVerification="false" />
  </policies>
</cipherazzi>
